.asset-card {
    background: var(--white);
    display: inline-block;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: rgba(black, 0.5) 0px 2px 12px;

    .detail-container {
        input {
            &:focus {
                border-bottom: 1px solid var(--black);
            }
        }
    }

    // &.edit {
    //     .detail-container {
    //         *:not(input) {
    //             display: none;
    //         }
    //     }
    // }

    // &:not(.edit) {
    //     .detail-container {
    //         input {
    //             display: none;
    //         }
    //     }
    // }
}
