.audio-channel {
    background: #4e5863;
    border: 2px solid var(--yellow);
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 6rem;
    color: var(--white);
    text-align: center;

    padding: 1rem;
}

label {
    width: 100%;

    input {
        width: 100%;
    }
}

input[type='range'] {
    width: 100%;
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: var(--blue--light);
    border-radius: 1.3px;
}

input[type='range'][orient='vertical']::-webkit-slider-runnable-track,
input[type='range'][orient='vertical']::-moz-range-track {
    height: 100%;
    width: 8.4px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: var(--blue--light);
}

input[type='range']::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type='range']::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
    background: var(--blue--light);
}
input[type='range']::-ms-fill-upper {
    background: var(--blue--light);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
    background: var(--blue--light);
}

.toggle {
    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;

    padding: 0.25rem;

    width: 24px;
    aspect-ratio: 1/1;

    &.active {
        &[data-function='mute'] {
            background: red;
            color: white;
        }

        &[data-function='solo'] {
            background: yellow;
            color: black;
        }
    }
}
